*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

nav{
    background-color: #6B4780;
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav li{
    display: inline;
    
}

nav a{
    color: #0FFF7E;
    text-decoration: none;
}

main{
    display: flex;
    background-color: #ed6cc4;
}

section{
    
    width: 70vw;
    font-family: 'Arial Narrow', Arial, sans-serif;

}
section a{
    color: antiquewhite;
}
aside{
    background-color: #AA4389;
    width: 30vw;
}

.perfil{
    color: #2EFF0F;
    text-align: center;
}
.perfil img{
    width: 100px;
    border-radius: 100%;
}

.redes{
    color: rgb(255, 210, 251);
    text-align: center;
    
}
.redes li{
    list-style-type: none;
    display: inline;

}
.redes a{
    text-decoration: none;
}
.suscripcion{
    color: rgb(255, 210, 251);
}
.suscripcion h2{
    text-align: center;
}

.posteos li a{
    color: rgb(255, 210, 251);
}
.posteos li{
    list-style-type: none;
}
.posteos a{
    text-decoration: none;
}
footer{
    background-color: #41553E;
    display: flex;
    height: 5vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer p{
    margin-top: 8px;
}

body{
    font-family: "Montserrat",sans-serif;
}
/* ¿Qué son los piercings? */
.imagenJoyeria{
    width: 400px;
}
#listaHistorica{
    list-style-type: circle;
}